{{define "block"}}
    <div>
        <ul>
            <li>{{.Data}}</li>
            <li>{{.Hash}}</li>
            {{if .PrevHash}}
                <li>{{.PreHash}}</li>
            {{end}}
        
        </ul>
    </div>
    <hr />
{{end}}
    